.popup {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  top: 10;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
}

.close-btn {

  border-radius: 20px;
  background-color: orange !important;
  color: white;
  border: 2px solid #e7be76;
  width: 13%;
  height: 5%;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
